<html>
<head>
<style>
  table, tr, td, th { border: 0px solid #000; border-collapse: collapse;}
  * {font-weight: bold}
  td, th { padding: 1px 3px; }
</style>
</head>

<h2> Relatório Seguros com Pendência de Renovação: <%= case params[:status] ; when '0' : "Pendentes" ; when '1' : "Efetivados"; when '3' : 'Renovações'; else ; "Cadastrados"; end %> </h2>
<br/>

Emitido em: <%= Time.now.to_s_br %>
<br/>
<br/>
<br/>

Período: <%= params[:data_inicial] %> à <%= params[:data_final] %>
<br/>

Imobiliárias:
<% if params[:todas] == 'true' %>
  Todas 
<% else %>
  <%= @seguros.collect{|s| s.imobiliaria.nome_fantasia }.uniq.join(', ') %>
<% end %>

<br/>
<br/>
<br/>
<table width='100%' border=1>
  <tbody>
    <tr><td colspan=10> <hr/></td> </tr>

    <% prev = nil %>
    <% count = 1 %>
    <% @seguros.each do |s| %>
       <% if prev.nil? or prev.imobiliaria_id != s.imobiliaria_id %>
          <tr><td colspan=10> <hr/></td> </tr>
          <tr>
             <td>
                <%=  count.to_s.rjust(2,'0')%>  - 
                <%   count += 1%> 
                <%=  s.imobiliaria.nome_fantasia%> 
             </td>
             <td>
                <%= @seguros.collect {|se| se.imobiliaria_id == s.imobiliaria_id ? 1 : 0}.sum %>
             </td>
          </tr>
       <% end %>

       
       <% if prev.nil? or prev.tipo_de_seguro != s.tipo_de_seguro %>
          <tr><td style='padding-left: 20px; '><%=h s.tipo_de_seguro_desc %> </td></tr>
       <% end %>
       <tr>
         <td style='padding-left: 50px'><%=h s.logradouro.endereco %></td>
         <td><%=h s.numero %></td>
         <td><%=h s.complemento %></td>
         <td><%=h s.tipo_de_seguro == 'R' ? s.residencia_desc : s.atividade.atividade %></td>
         <td><%=h s.user.name.blank? ? s.user.login : s.user.name %></td>
       </tr>
       <% prev = s %>
    <% end %>
    <tr><td colspan=10> <hr/></td> </tr>
  </tbody>
</table>
