- model_class = Corretora
.row.grid
  .col-md-12
    = flash_message
    .panel.panel-piluku
      .panel-heading
        %h3.panel-title
          Listagem de Perguntas Frequentes
          .right-button
            - if can? :new, Faq
              = link_to t('.new', default: t("helpers.links.new")), new_admin_faq_path, class: 'btn btn-wtc'
      .panel-body
        .table-responsive
          %table.table.table-striped.table-hover
            %thead
              %tr
                %th= model_class.human_attribute_name(:pergunta)
                %th= model_class.human_attribute_name(:resposta)
                %th Opções
            %tbody
              - @faqs.each do |faq|
                %tr
                  %td= faq.pergunta 
                  %td= faq.resposta 
                  %td
                    = link_to t('.edit', default: t("helpers.links.edit")), edit_admin_faq_path(faq), class: 'btn btn-default btn-xs'
                    = link_to t('.destroy', default: t("helpers.links.destroy")), admin_faq_path(faq), class: 'btn btn-danger btn-xs', method: :delete, :"data-confirm" => "Confirma a exclusão?"

