<p>
  <b>Locatario nome:</b>
  <%=h @fianca.locatario_nome %>
</p>

<p>
  <b>Locatario sexo:</b>
  <%=h @fianca.locatario_sexo %>
</p>

<p>
  <b>Locatario cpf:</b>
  <%=h @fianca.locatario_cpf %>
</p>

<p>
  <b>Locatario rg:</b>
  <%=h @fianca.locatario_rg %>
</p>

<p>
  <b>Locatario orgao expedidor:</b>
  <%=h @fianca.locatario_orgao_expedidor %>
</p>

<p>
  <b>Locatario data expedicao:</b>
  <%=h @fianca.locatario_data_expedicao %>
</p>

<p>
  <b>Locatario nacionalidade:</b>
  <%=h @fianca.locatario_nacionalidade %>
</p>

<p>
  <b>Locatario nascimento:</b>
  <%=h @fianca.locatario_nascimento %>
</p>

<p>
  <b>Locatario estado civil:</b>
  <%=h @fianca.locatario_estado_civil %>
</p>

<p>
  <b>Locatario mae:</b>
  <%=h @fianca.locatario_mae %>
</p>

<p>
  <b>Locatario pai:</b>
  <%=h @fianca.locatario_pai %>
</p>

<p>
  <b>Locatario residira no imovel:</b>
  <%=h @fianca.locatario_residira_no_imovel %>
</p>

<p>
  <b>Locatario compora renda:</b>
  <%=h @fianca.locatario_compora_renda %>
</p>

<p>
  <b>Locatario correntista:</b>
  <%=h @fianca.locatario_correntista %>
</p>

<p>
  <b>Locatario segmoneto:</b>
  <%=h @fianca.locatario_segmoneto %>
</p>

<p>
  <b>Locatario email primario:</b>
  <%=h @fianca.locatario_email_primario %>
</p>

<p>
  <b>Locatario email secundario:</b>
  <%=h @fianca.locatario_email_secundario %>
</p>

<p>
  <b>Imovel tipo:</b>
  <%=h @fianca.imovel_tipo %>
</p>

<p>
  <b>Imovel cep:</b>
  <%=h @fianca.imovel_cep %>
</p>

<p>
  <b>Imovel numero:</b>
  <%=h @fianca.imovel_numero %>
</p>

<p>
  <b>Imovel complemento:</b>
  <%=h @fianca.imovel_complemento %>
</p>

<p>
  <b>Imovel administradora:</b>
  <%=h @fianca.imovel_administradora %>
</p>

<p>
  <b>Imovel aluguel:</b>
  <%=h @fianca.imovel_aluguel %>
</p>

<p>
  <b>Imovel iptu:</b>
  <%=h @fianca.imovel_iptu %>
</p>

<p>
  <b>Imovel condominio:</b>
  <%=h @fianca.imovel_condominio %>
</p>

<p>
  <b>Imovel agua:</b>
  <%=h @fianca.imovel_agua %>
</p>

<p>
  <b>Imovel luz:</b>
  <%=h @fianca.imovel_luz %>
</p>

<p>
  <b>Imovel gas canalizado:</b>
  <%=h @fianca.imovel_gas_canalizado %>
</p>

<p>
  <b>Imovel danos:</b>
  <%=h @fianca.imovel_danos %>
</p>

<p>
  <b>Imovel multa recisao:</b>
  <%=h @fianca.imovel_multa_recisao %>
</p>

<p>
  <b>Imovel pintura interna:</b>
  <%=h @fianca.imovel_pintura_interna %>
</p>

<p>
  <b>Imovel puntura externa:</b>
  <%=h @fianca.imovel_puntura_externa %>
</p>

<p>
  <b>Residencia tipo:</b>
  <%=h @fianca.residencia_tipo %>
</p>

<p>
  <b>Residencia tempo ano:</b>
  <%=h @fianca.residencia_tempo_ano %>
</p>

<p>
  <b>Residencia tempo mes:</b>
  <%=h @fianca.residencia_tempo_mes %>
</p>

<p>
  <b>Residencia cep:</b>
  <%=h @fianca.residencia_cep %>
</p>

<p>
  <b>Residencia numero:</b>
  <%=h @fianca.residencia_numero %>
</p>

<p>
  <b>Residencia complemento:</b>
  <%=h @fianca.residencia_complemento %>
</p>

<p>
  <b>Residencia ddd fixo:</b>
  <%=h @fianca.residencia_ddd_fixo %>
</p>

<p>
  <b>Residencia telefone fixo:</b>
  <%=h @fianca.residencia_telefone_fixo %>
</p>

<p>
  <b>Residencia ddd celular:</b>
  <%=h @fianca.residencia_ddd_celular %>
</p>

<p>
  <b>Residencia celular:</b>
  <%=h @fianca.residencia_celular %>
</p>

<p>
  <b>Residencia nome proprietario:</b>
  <%=h @fianca.residencia_nome_proprietario %>
</p>

<p>
  <b>Residencia ddd proprietario:</b>
  <%=h @fianca.residencia_ddd_proprietario %>
</p>

<p>
  <b>Residencia telefone proprietario:</b>
  <%=h @fianca.residencia_telefone_proprietario %>
</p>

<p>
  <b>Residencia correspondencia:</b>
  <%=h @fianca.residencia_correspondencia %>
</p>

<p>
  <b>Correspondencia cep:</b>
  <%=h @fianca.correspondencia_cep %>
</p>

<p>
  <b>Correspondencia numero:</b>
  <%=h @fianca.correspondencia_numero %>
</p>

<p>
  <b>Correspondencia complemento:</b>
  <%=h @fianca.correspondencia_complemento %>
</p>

<p>
  <b>Anterior tipo:</b>
  <%=h @fianca.anterior_tipo %>
</p>

<p>
  <b>Anterior tempo ano:</b>
  <%=h @fianca.anterior_tempo_ano %>
</p>

<p>
  <b>Anterior tempo mes:</b>
  <%=h @fianca.anterior_tempo_mes %>
</p>

<p>
  <b>Anterior cep:</b>
  <%=h @fianca.anterior_cep %>
</p>

<p>
  <b>Anterior numero:</b>
  <%=h @fianca.anterior_numero %>
</p>

<p>
  <b>Anterior complemento:</b>
  <%=h @fianca.anterior_complemento %>
</p>

<p>
  <b>Anterior nome proprietario:</b>
  <%=h @fianca.anterior_nome_proprietario %>
</p>

<p>
  <b>Anterior ddd proprietario:</b>
  <%=h @fianca.anterior_ddd_proprietario %>
</p>

<p>
  <b>Anterior telefone proprietario:</b>
  <%=h @fianca.anterior_telefone_proprietario %>
</p>

<p>
  <b>Dependentes tipo 1:</b>
  <%=h @fianca.dependentes_tipo_1 %>
</p>

<p>
  <b>Dependentes nome 1:</b>
  <%=h @fianca.dependentes_nome_1 %>
</p>

<p>
  <b>Dependentes nascimento 1:</b>
  <%=h @fianca.dependentes_nascimento_1 %>
</p>

<p>
  <b>Dependentes tipo 2:</b>
  <%=h @fianca.dependentes_tipo_2 %>
</p>

<p>
  <b>Dependentes nome 2:</b>
  <%=h @fianca.dependentes_nome_2 %>
</p>

<p>
  <b>Dependentes nascimento 2:</b>
  <%=h @fianca.dependentes_nascimento_2 %>
</p>

<p>
  <b>Referencia bancaria codigo banco:</b>
  <%=h @fianca.referencia_bancaria_codigo_banco %>
</p>

<p>
  <b>Referencia bancaria banco:</b>
  <%=h @fianca.referencia_bancaria_banco %>
</p>

<p>
  <b>Referencia bancaria agencia:</b>
  <%=h @fianca.referencia_bancaria_agencia %>
</p>

<p>
  <b>Referencia bancaria conta:</b>
  <%=h @fianca.referencia_bancaria_conta %>
</p>

<p>
  <b>Referencia bancaria segmento:</b>
  <%=h @fianca.referencia_bancaria_segmento %>
</p>

<p>
  <b>Referencia bancaria cliente desde:</b>
  <%=h @fianca.referencia_bancaria_cliente_desde %>
</p>

<p>
  <b>Cartao credito bandeira:</b>
  <%=h @fianca.cartao_credito_bandeira %>
</p>

<p>
  <b>Cartao credito numero:</b>
  <%=h @fianca.cartao_credito_numero %>
</p>

<p>
  <b>Cartao credito validade:</b>
  <%=h @fianca.cartao_credito_validade %>
</p>

<p>
  <b>Referencia comercial empresa:</b>
  <%=h @fianca.referencia_comercial_empresa %>
</p>

<p>
  <b>Referencia comercial ddd:</b>
  <%=h @fianca.referencia_comercial_ddd %>
</p>

<p>
  <b>Referencia comercial telefone:</b>
  <%=h @fianca.referencia_comercial_telefone %>
</p>

<p>
  <b>Referencia comercial ramal:</b>
  <%=h @fianca.referencia_comercial_ramal %>
</p>

<p>
  <b>Referencia pessoal nome:</b>
  <%=h @fianca.referencia_pessoal_nome %>
</p>

<p>
  <b>Referencia pessoal ddd:</b>
  <%=h @fianca.referencia_pessoal_ddd %>
</p>

<p>
  <b>Referencia pessoal telefone:</b>
  <%=h @fianca.referencia_pessoal_telefone %>
</p>

<p>
  <b>Bens moveis tipo:</b>
  <%=h @fianca.bens_moveis_tipo %>
</p>

<p>
  <b>Bens moveis fabricante:</b>
  <%=h @fianca.bens_moveis_fabricante %>
</p>

<p>
  <b>Bens moveis modelo:</b>
  <%=h @fianca.bens_moveis_modelo %>
</p>

<p>
  <b>Bens moveis placa:</b>
  <%=h @fianca.bens_moveis_placa %>
</p>

<p>
  <b>Bens moveis valor:</b>
  <%=h @fianca.bens_moveis_valor %>
</p>

<p>
  <b>Bens moveis onus:</b>
  <%=h @fianca.bens_moveis_onus %>
</p>

<p>
  <b>Bens moveis instituicao:</b>
  <%=h @fianca.bens_moveis_instituicao %>
</p>

<p>
  <b>Bens moveis ano:</b>
  <%=h @fianca.bens_moveis_ano %>
</p>

<p>
  <b>Bens moveis seguro:</b>
  <%=h @fianca.bens_moveis_seguro %>
</p>

<p>
  <b>Bens moveis seguradora:</b>
  <%=h @fianca.bens_moveis_seguradora %>
</p>

<p>
  <b>Bens imoveis tipo:</b>
  <%=h @fianca.bens_imoveis_tipo %>
</p>

<p>
  <b>Bens imoveis cep:</b>
  <%=h @fianca.bens_imoveis_cep %>
</p>

<p>
  <b>Bens imoveis numero:</b>
  <%=h @fianca.bens_imoveis_numero %>
</p>

<p>
  <b>Bens imoveis complemento:</b>
  <%=h @fianca.bens_imoveis_complemento %>
</p>

<p>
  <b>Bens imoveis valor:</b>
  <%=h @fianca.bens_imoveis_valor %>
</p>

<p>
  <b>Bens imoveis onus:</b>
  <%=h @fianca.bens_imoveis_onus %>
</p>

<p>
  <b>Bens imoveis segura:</b>
  <%=h @fianca.bens_imoveis_segura %>
</p>

<p>
  <b>Bens imoveis seguradora:</b>
  <%=h @fianca.bens_imoveis_seguradora %>
</p>

<p>
  <b>Locatario ocupacao:</b>
  <%=h @fianca.locatario_ocupacao %>
</p>

<p>
  <b>Locatario categoria:</b>
  <%=h @fianca.locatario_categoria %>
</p>

<p>
  <b>Locatario empresa nome:</b>
  <%=h @fianca.locatario_empresa_nome %>
</p>

<p>
  <b>Locatario empresa ddd:</b>
  <%=h @fianca.locatario_empresa_ddd %>
</p>

<p>
  <b>Locatario empresa telefone:</b>
  <%=h @fianca.locatario_empresa_telefone %>
</p>

<p>
  <b>Locatario empresa ramal:</b>
  <%=h @fianca.locatario_empresa_ramal %>
</p>

<p>
  <b>Locatario empresa cep:</b>
  <%=h @fianca.locatario_empresa_cep %>
</p>

<p>
  <b>Locatario empresa numero:</b>
  <%=h @fianca.locatario_empresa_numero %>
</p>

<p>
  <b>Locatario empresa complemento:</b>
  <%=h @fianca.locatario_empresa_complemento %>
</p>

<p>
  <b>Locatario empresa data admissao:</b>
  <%=h @fianca.locatario_empresa_data_admissao %>
</p>

<p>
  <b>Locatario empresa cargo:</b>
  <%=h @fianca.locatario_empresa_cargo %>
</p>

<p>
  <b>Locatario empresa salario:</b>
  <%=h @fianca.locatario_empresa_salario %>
</p>

<p>
  <b>Locatario empresa outras rendas:</b>
  <%=h @fianca.locatario_empresa_outras_rendas %>
</p>

<p>
  <b>Locatario empresa valor:</b>
  <%=h @fianca.locatario_empresa_valor %>
</p>

<p>
  <b>Locatario anterior nome:</b>
  <%=h @fianca.locatario_anterior_nome %>
</p>

<p>
  <b>Locatario anterior ddd:</b>
  <%=h @fianca.locatario_anterior_ddd %>
</p>

<p>
  <b>Locatario anterior telefone:</b>
  <%=h @fianca.locatario_anterior_telefone %>
</p>

<p>
  <b>Locatario anterior ramal:</b>
  <%=h @fianca.locatario_anterior_ramal %>
</p>

<p>
  <b>Locatario anterior cep:</b>
  <%=h @fianca.locatario_anterior_cep %>
</p>

<p>
  <b>Locatario anterior numero:</b>
  <%=h @fianca.locatario_anterior_numero %>
</p>

<p>
  <b>Locatario anterior complemento:</b>
  <%=h @fianca.locatario_anterior_complemento %>
</p>

<p>
  <b>Locatario anterior cargo:</b>
  <%=h @fianca.locatario_anterior_cargo %>
</p>

<p>
  <b>Locatario anterior salario:</b>
  <%=h @fianca.locatario_anterior_salario %>
</p>

<p>
  <b>Locador nome:</b>
  <%=h @fianca.locador_nome %>
</p>

<p>
  <b>Locador cpf:</b>
  <%=h @fianca.locador_cpf %>
</p>

<p>
  <b>Locador email:</b>
  <%=h @fianca.locador_email %>
</p>

<p>
  <b>Locador renda:</b>
  <%=h @fianca.locador_renda %>
</p>

<p>
  <b>Locador rg:</b>
  <%=h @fianca.locador_rg %>
</p>

<p>
  <b>Locador orgao expedidor:</b>
  <%=h @fianca.locador_orgao_expedidor %>
</p>

<p>
  <b>Locador data expedicao:</b>
  <%=h @fianca.locador_data_expedicao %>
</p>

<p>
  <b>Locador ddd fixo:</b>
  <%=h @fianca.locador_ddd_fixo %>
</p>

<p>
  <b>Locador telefone fixo:</b>
  <%=h @fianca.locador_telefone_fixo %>
</p>

<p>
  <b>Locador ddd celular:</b>
  <%=h @fianca.locador_ddd_celular %>
</p>

<p>
  <b>Locador celular:</b>
  <%=h @fianca.locador_celular %>
</p>

<p>
  <b>Locador cep:</b>
  <%=h @fianca.locador_cep %>
</p>

<p>
  <b>Locador numero:</b>
  <%=h @fianca.locador_numero %>
</p>

<p>
  <b>Locador complemento:</b>
  <%=h @fianca.locador_complemento %>
</p>

<p>
  <b>Imobiliaria:</b>
  <%=h @fianca.imobiliaria_id %>
</p>

<p>
  <b>User:</b>
  <%=h @fianca.user_id %>
</p>


<%= link_to 'Edit', edit_fianca_path(@fianca) %> |
<%= link_to 'Back', fiancas_path %>